@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins:wght@300&display=swap');

h3 {
    padding: 10px 30px 10px 15px;
}


.about {
  font-family: 'Poppins'; 
  font-size: 20px; 
  line-height: 1.7em;
  padding: 10px 30px 10px 15px;
}
