.container {
    width: 60em;
    padding-top: 40px; 
    padding-bottom: 30px;
    background-color: #fafafa;
    font-family: 'Poppins';
    text-align: justify;
    font-size: 16px; 
    line-height: 2em; 
    color: #000000;
    border-width: 1px; 
    border-style: solid;
    border-color: #07b3b0; 
    border-bottom: 1px solid rgb (209, 209, 209);
    box-shadow: 5px 10px 8px #888888; 
}

#homeH1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif; 
    font-size: 55px;  
    text-align: center;
    color: #07b3b0; 

}

#homeH2 {
    padding-top: 40px;
    font-family: 'Roboto Slab', serif; 
    font-size: 32px;  
    text-align: left;
    color: #07b3b0; 
}

#bookcaseinfo {
    padding-top: 10px; 
    padding-bottom: 20px;
    font-family: 'Poppins'; 
    font-size: 23px; 
    text-align: left;
  
}

#bookpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto; 
    padding-bottom: 50px;
    
}