@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins:ital@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.header {
   padding-bottom: 10px; 
}

.navbar-brand {
    padding-left: 30px; 
    font-family:'Roboto Slab', serif;
    font-size: 40px; 
    color:#000000; 
}

.card-body {
    font-family: 'Poppins'; 
    color: #000000; 
    text-align: center; 
    border-width: 2px; 
    border-style: solid;
    border-color: #07B3B0; 
    background-color: #D1E3E3;
    width: 30; 
    height: 30; 
}

.nav-link {
    font-family: 'Poppins';
    font-size: 22px; 
    color: #000000; 
    border-bottom: 1px solid rgb (209, 209, 209);
    box-shadow: 5px 10px 8px #888888;
}

.nav-item {
    background-color:#F0F7F7; 
}

.nav-link:hover {
    color: #ff5b2d; 
}

#searchbox {
    text-align: left; 
    font-family: 'Roboto Slab', serif;
}
