@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins:ital@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#nav{
   padding-bottom: 20px;
}

.nav-item {
    font-family: 'Poppins';
    font-size: 20px; 
    background-color:#f0f7f7;
    border-style: solid;
    border-radius: 5%;
    border-width: 1.5px; 
    border-color: #07b3b0;  
    border-bottom: 1px solid rgb (209, 209, 209);
    box-shadow: 5px 10px 8px #888888;
}

.nav-link{
    color: #000000; 
}

.nav-link:hover {
    color: #ff5b2d; 
    font-weight: bold;
}





