
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins:wght@300&display=swap');


body {
    padding: 20px 100px 20px 100px; 
}

a {
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-size: 20px; 
    font-weight: bold; 
    color: #000000; 
}

a:hover {
    color: #900C3F; 
}

h1, h2, h3 {
    font-family: 'Comic Neue', cursive;

} 

.description{
    font-family: 'Poppins', sans-serif;
    text-align: justify; 
    font-size: 18px; 
}

.price{
    font-family: 'Poppins', sans-serif;
    text-align: left; 
    font-weight: bold; 
    font-size: 20px; 
}